/* Variables */


/* Mini CSS reset and basic typography  */

* {box-sizing: border-box}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* General settings */


body {
    font-family: sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 1ch;
}


img, iframe {border: none}

 /* Headlines */

h2,h3,h4,h5,h6 {
  /* from https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

h1 {
  /* from https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
    font-size: 2rem; 
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

p, li{
  /* from https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}


/* h2 {font-size: 1.625rem; line-height: 1.2} */

/* h3 {font-size: 1.3125rem;line-height: 1.24} */

/* h4 {font-size: 1.1875rem;line-height: 1.23} */

/* h5,h6 {font-size: 1rem; font-weight:bold} */

/* table {border-collapse: collapse;border-spacing: 0} */

th, td {text-align: left;vertical-align: top}

/* ************** */
/* *** Fonts  *** */
/* ************** */

/* Font size tricks from https://www.madebymike.com.au/writing/precise-control-responsive-typography/ 
 * The font size will be adjusted to the screen size.
 * */
/* :root{ */
/*   font-size: 16px; */
/* } */

/* the min width is calculated as:
 * font-size / ( number of viewport units / 100 )
 * it means 16 / (1.5/100)
 */
/* @media (min-width: 1067px){ */
/*   :root { */
/*     font-size: 1.5vw; */
/*   } */
/* } */

/* Maximal font size should be 20px, so stop font scalling at some point (20 / (1.5/100)) */

/* @media (min-width: 1333px){ */
/*   :root { */
/*     font-size: 20px; */
/*   } */
/* } */

/* tips from https://www.freecodecamp.org/news/how-to-recreate-mediums-article-layout-with-css-grid-b4608792bad1/ */

@media (min-width:67ch){
  body{
     display: grid;  
     grid-template-columns: 1fr 1fr 1em 65ch 1em 1fr 1fr ;  
  }
  body > * {  
        grid-column: 4;  
  }

}

/* ************** */
/* *** Colors *** */
/* ************** */

:root {
--color-background: #fefefe;
--color-text-default: #242424;
--color-link-text: #0077aa;
--color-link-visited: #7d103b;
--color-link-hover: #0033AA;
}

/* Support dark mode */
/* @media (prefers-color-scheme: light) { */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #142434;
    --color-text-default: #eeeeee;
    --color-link-text: #44aaee;
    --color-link-visited: #68a1ca;
    --color-link-hover: #66ccff;
  }

  /* p{line-height:1.7;} */
}

body{
  color:var(--color-text-default);
  background-color: var(--color-background);
}

a{color:var(--color-link-text);}
a:visited{color:var(--color-link-visited);}
a:hover{color:var(--color-link-hover);}
/* don't highlight links in header as visited */
header a:visited{color:var(--color-link-text);}

