/* Basic styles */

:root {
  --foreground-color: #0c0c0c;
  --background-color: #fcfcfc;
  --hover-color: #444444;
  --scale-factor: calc(16px / 1rem);
}


h1,h2,h3,h4,nav ul{margin:0;}

body{
  /* idea from https://matthiasott.com/notes/compressed-fluid-typography */
  font-size: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  font-size: clamp( 1rem, 1rem + (3vw * var(--scale-factor)), 3rem);
  max-width:72ch;
  margin: 1ch auto;
  padding: 1ch;
  line-height: calc(1ex / 0.34);
}

a:hover{
  color: var(--hover-color);
}

.note-archive article{
  border-bottom: 1px solid var(--foreground-color);
  &:last-child{
    border-bottom: none;
  }
}

.publish-info{
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

p.permalink{
  font-size: 0.9rem;
  a {color: var(--foreground-color); text-decoration: none;}
  a:hover{text-decoration: underline;}
}

#home{margin-bottom:0.5rem;}
#home a{color: var(--foreground-color); text-decoration: none;}
#home a:hover{text-decoration: underline;}

nav ul {
  border-top: 1px solid var(--foreground-color);
  padding: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  list-style: none;
}

nav ul li {
  display: inline;
  flex-grow: 1;
  align-items: flex-start;
  margin-right: 0.5rem;
}



nav ul li:before{content:"|";margin-right:0.5rem;}
nav ul li:first-child:before{content:"";margin-right:0rem;}

.article-list h3{ margin-bottom: 0.5ex;}
.article-list h3 + p{margin-top: 0;}

p {margin: 1ex 0;}

header.site-header{
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--foreground-color);
}
footer{
  text-align: center;
}

/* Fonts */
body{
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', 'Linux Libertine O', 'Gentium Book', serif;
  font-size: calc(1rem + 0.15vw);
}
pre, code, kbd {font-family: monospace,monospace; }



h1 { font-size: 1.74em; }
h2{ font-size: 1.5157em; }
h3{ font-size: 1.3195em; }
h4{ font-size: 1.1487em; }
h5{ font-size: 1em; }

.article-list h3{font-size: 1em;}


/* Colors */



body {
  background-color: #fcfcfc;
  color: var(--foreground-color);
}

footer {
  border-top: 1px solid var(--foreground-color);
}

h2{
  /* border-top: 1px solid var(--foreground-color); */
  padding: 1rem 0;
}

.project,.news{
  border-top:1px dotted var(--foreground-color);
  padding-top:0.8rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    --foreground-color: #ececec;
    /* color: #ececec; */

  }
  a {
    color: #ececbc;
  }
  a:hover {
    color: #bcbcbc;
  }
  a:visited{
    color: #acecac;
  }

  img, video, iframe {
      background-color: #fcfcfc;
  }

img[src="rss.svg"] {
  height: 1em;
  vertical-align: middle;
  width: auto;
  border: 1px solid var(--foreground-color);
}

  pre {
      background-color: #fcfcfc;
  }
  
  li::marker {
      color: var(--foreground-color);
  }

  footer {
    border-top: 1px solid #ececec;
  }



}
